body{
    background-color: black;
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 50px;
}

.box-shadow{
    
  
    width:25rem;
    inset: 0;
    position: fixed;
    aspect-ratio: 1/1;
    margin: auto;
    background-color: limegreen;
    border-radius: 5px;
    animation: mymove 6s ease-in-out infinite;
}

@keyframes mymove {
    10%{
        box-shadow:
        4rem -4rem 0.1rem -1rem rgb(230, 14, 14),
        6rem -6rem 0.2rem -2rem blue,
        8rem -8rem 0.3rem -3rem violet,
        10rem -10rem 0.4rem -4rem purple;  
    }
   
    100%{
        box-shadow:
        2rem 2rem 0.1rem -1rem rgb(230, 14, 14),
        4rem 4rem 0.2rem -2rem blue,
        6rem 6rem 0.3rem -3rem violet,
        8rem 8rem 0.4rem -4rem purple;
   }

}


@media screen and (max-width:400px) {
    
    .box-shadow{
        width: 14rem;
    }

}

@media screen and (max-width:646px) and (min-width:401px) {
    .box-shadow{
        width: 15rem;
    }
    body{
        background-color: aqua;
    }

    @keyframes mymove {
        10%{
            box-shadow:
            2rem -2rem 0.1rem -1rem rgb(230, 14, 14),
            4rem -4rem 0.2rem -2rem blue,
            6rem -6rem 0.3rem -3rem violet,
            8rem -8rem 0.4rem -4rem purple;  
        }
       
        100%{
            box-shadow:
            2rem 2rem 0.1rem -1rem rgb(230, 14, 14),
            4rem 4rem 0.2rem -2rem blue,
            6rem 6rem 0.3rem -3rem violet,
            8rem 8rem 0.4rem -4rem purple;
       }
    
    }

}


/* 
.container{
    

    display: flex;
    align-items: center;
    justify-content: center;

}

.one{
    margin: 15%;
    justify-content: flex-end;
    text-align: center;
    width: 430px;
    height: 20vh;
    background-color: limegreen;

} */